.image-picker::file-selector-button {
  display: block;
  margin-bottom: 8px;
}

#iconContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #aaaaaa;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}