.bigAssDiv {
    display: 'flex'; 
    flex-Direction: 'column'; 
    justify-Content: 'center';
    align-Items: 'center';
    background-image: url('../img/mapBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.pinDiv {
    background-image: url('../img/paper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.draggable-box {
    background-color: red;
    position: absolute;
    cursor: grab;
    user-select: none;
    touch-action: none;
}
.draggable-box:active {
    cursor: grabbing;
}

/* .pin_button {
    width: 30px;
    height: 30px;
} */