.draggable-box {
    background-color: red;
    position: absolute;
    cursor: grab;
    user-select: none;
    touch-action: none;
}
.draggable-box:active {
    cursor: grabbing;
}

.pin_button {
    width: 30px;
    height: 30px;
}